### Transforming the time series data into tabular data for model training

To do this we create a slidding window with slices(cutoffs). That is, for every target value, we create a vector of features. E.g for a cutoff (0,12,13) the number of features(n_feature = 12) with range(0,12), the target is range (12,13).

Below I implement this logic intially for a single location 43 to see if it works, once validated I implement this for the entire data.

In [1]:
import pandas as pd # import pandas library for data manipulation

ts_data = pd.read_parquet('../data/transformed/ts_data_2022_01.parquet') # load the transformed data
ts_data

               pickup_hour  rides  pickup_location_id
0      2022-01-01 00:00:00     11                   4
1      2022-01-01 01:00:00     15                   4
2      2022-01-01 02:00:00     26                   4
3      2022-01-01 03:00:00      8                   4
4      2022-01-01 04:00:00      9                   4
...                    ...    ...                 ...
191203 2022-01-31 19:00:00      0                 176
191204 2022-01-31 20:00:00      0                 176
191205 2022-01-31 21:00:00      0                 176
191206 2022-01-31 22:00:00      0                 176
191207 2022-01-31 23:00:00      0                 176

[191208 rows x 3 columns]

In [2]:
# Implement this for central park (location 43)
# Let us view data for location 43
ts_data_one_location = ts_data.loc[ts_data.pickup_location_id == 43, :].reset_index(drop=True)
ts_data_one_location.head(15)

           pickup_hour  rides  pickup_location_id
0  2022-01-01 00:00:00     97                  43
1  2022-01-01 01:00:00     60                  43
2  2022-01-01 02:00:00     22                  43
3  2022-01-01 03:00:00      8                  43
4  2022-01-01 04:00:00      6                  43
5  2022-01-01 05:00:00      5                  43
6  2022-01-01 06:00:00      3                  43
7  2022-01-01 07:00:00     10                  43
8  2022-01-01 08:00:00      7                  43
9  2022-01-01 09:00:00     19                  43
10 2022-01-01 10:00:00     24                  43
11 2022-01-01 11:00:00     39                  43
12 2022-01-01 12:00:00     35                  43
13 2022-01-01 13:00:00     77                  43
14 2022-01-01 14:00:00     70                  43

In [3]:
# function to create cutoff indices
def get_cutoff_indices(
    data: pd.DataFrame, # the data to be sliced
    n_features: int, # number of features
    step_size: int
    ) -> list:

        stop_position = len(data) - 1
        
        # Start the first sub-sequence at index position 0
        subseq_first_idx = 0
        subseq_mid_idx = n_features
        subseq_last_idx = n_features + 1
        indices = []
        
        while subseq_last_idx <= stop_position:
            indices.append((subseq_first_idx, subseq_mid_idx, subseq_last_idx))
            
            subseq_first_idx += step_size
            subseq_mid_idx += step_size
            subseq_last_idx += step_size

        return indices

Let us print a sample output to see if the function works.

In [4]:
n_features = 24 #use the whole previous day's data to generate features
step_size = 1 # slide the window by 1 hour

indices = get_cutoff_indices(
    ts_data_one_location,
    n_features,
    step_size
)
indices[:5] # view the first 5 cutoff indices

[(0, 24, 25), (1, 25, 26), (2, 26, 27), (3, 27, 28), (4, 28, 29)]

In [5]:
# implementing the slicing with the indices
import numpy as np # import numpy library for data manipulation

n_examples = len(indices)
x = np.ndarray(shape=(n_examples, n_features), dtype=np.float32) # features
y = np.ndarray(shape=(n_examples), dtype=np.float32) # targets
pickup_hours = []

# loop through the indices and slice the data generating the features and targets
for i, idx in enumerate(indices):
    x[i, :] = ts_data_one_location.iloc[idx[0]:idx[1]]['rides'].values
    y[i] = ts_data_one_location.iloc[idx[1]:idx[2]]['rides'].values
    pickup_hours.append(ts_data_one_location.iloc[idx[1]]['pickup_hour'])

In [6]:
# lets see if it worked as expected
print(f'{x.shape=}')
print(f'{x=}')
print(f'{pickup_hours[:5]=}')

x.shape=(719, 24)
x=array([[ 97.,  60.,  22., ...,  16.,  18.,   6.],
       [ 60.,  22.,   8., ...,  18.,   6.,   3.],
       [ 22.,   8.,   6., ...,   6.,   3.,   1.],
       ...,
       [ 28.,  16.,  13., ..., 102.,  66.,  61.],
       [ 16.,  13.,   8., ...,  66.,  61.,  73.],
       [ 13.,   8.,   1., ...,  61.,  73.,  33.]], dtype=float32)
pickup_hours[:5]=[Timestamp('2022-01-02 00:00:00'), Timestamp('2022-01-02 01:00:00'), Timestamp('2022-01-02 02:00:00'), Timestamp('2022-01-02 03:00:00'), Timestamp('2022-01-02 04:00:00')]

It works, now lets transform the array into a data frame of features for convinience.

In [7]:
features_one_location = pd.DataFrame(
    x,
    columns=[f'rides_previous_{i+1}_hour' for i in reversed(range(n_features))]
)
features_one_location

,rides_previous_24_hour,rides_previous_23_hour,rides_previous_22_hour,rides_previous_21_hour,rides_previous_20_hour,rides_previous_19_hour,rides_previous_18_hour,rides_previous_17_hour,rides_previous_16_hour,rides_previous_15_hour,...,rides_previous_10_hour,rides_previous_9_hour,rides_previous_8_hour,rides_previous_7_hour,rides_previous_6_hour,rides_previous_5_hour,rides_previous_4_hour,rides_previous_3_hour,rides_previous_2_hour,rides_previous_1_hour
0,97.0,60.0,22.0,8.0,6.0,5.0,3.0,10.0,7.0,19.0,...,70.0,94.0,87.0,73.0,34.0,32.0,22.0,16.0,18.0,6.0
1,60.0,22.0,8.0,6.0,5.0,3.0,10.0,7.0,19.0,24.0,...,94.0,87.0,73.0,34.0,32.0,22.0,16.0,18.0,6.0,3.0
2,22.0,8.0,6.0,5.0,3.0,10.0,7.0,19.0,24.0,39.0,...,87.0,73.0,34.0,32.0,22.0,16.0,18.0,6.0,3.0,1.0
3,8.0,6.0,5.0,3.0,10.0,7.0,19.0,24.0,39.0,35.0,...,73.0,34.0,32.0,22.0,16.0,18.0,6.0,3.0,1.0,1.0
4,6.0,5.0,3.0,10.0,7.0,19.0,24.0,39.0,35.0,77.0,...,34.0,32.0,22.0,16.0,18.0,6.0,3.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
714,52.0,36.0,28.0,16.0,13.0,8.0,1.0,1.0,2.0,1.0,...,78.0,74.0,66.0,91.0,117.0,100.0,106.0,147.0,121.0,102.0
715,36.0,28.0,16.0,13.0,8.0,1.0,1.0,2.0,1.0,1.0,...,74.0,66.0,91.0,117.0,100.0,106.0,147.0,121.0,102.0,66.0
716,28.0,16.0,13.0,8.0,1.0,1.0,2.0,1.0,1.0,4.0,...,66.0,91.0,117.0,100.0,106.0,147.0,121.0,102.0,66.0,61.0
717,16.0,13.0,8.0,1.0,1.0,2.0,1.0,1.0,4.0,9.0,...,91.0,117.0,100.0,106.0,147.0,121.0,102.0,66.0,61.0,73.0
718,13.0,8.0,1.0,1.0,2.0,1.0,1.0,4.0,9.0,53.0,...,117.0,100.0,106.0,147.0,121.0,102.0,66.0,61.0,73.0,33.0

Now let us do the same for the targets.

In [8]:
targets_one_location = pd.DataFrame(y, columns=[f'target_rides_next_hour'])
targets_one_location

     target_rides_next_hour
0                       3.0
1                       1.0
2                       1.0
3                       0.0
4                       0.0
..                      ...
714                    66.0
715                    61.0
716                    73.0
717                    33.0
718                    21.0

[719 rows x 1 columns]

Now let us write a function that does the transformation for all locations.

In [9]:
from tqdm import tqdm

def transform_ts_data_into_features_and_target(
    ts_data: pd.DataFrame,
    input_seq_len: int,
    step_size: int
) -> pd.DataFrame:
    """
    Slices and transposes data from time-series format into a (features, target)
    format that we can use to train Supervised ML models
    """
    assert set(ts_data.columns) == {'pickup_hour', 'rides', 'pickup_location_id'}

    location_ids = ts_data['pickup_location_id'].unique()
    features = pd.DataFrame()
    targets = pd.DataFrame()
    
    for location_id in tqdm(location_ids):
        
        # keep only ts data for this `location_id`
        ts_data_one_location = ts_data.loc[
            ts_data.pickup_location_id == location_id, 
            ['pickup_hour', 'rides']
        ]

        # pre-compute cutoff indices to split dataframe rows
        indices = get_cutoff_indices(
            ts_data_one_location,
            input_seq_len,
            step_size
        )

        # slice and transpose data into numpy arrays for features and targets
        n_examples = len(indices)
        x = np.ndarray(shape=(n_examples, input_seq_len), dtype=np.float32)
        y = np.ndarray(shape=(n_examples), dtype=np.float32)
        pickup_hours = []
        for i, idx in enumerate(indices):
            x[i, :] = ts_data_one_location.iloc[idx[0]:idx[1]]['rides'].values
            y[i] = ts_data_one_location.iloc[idx[1]:idx[2]]['rides'].values
            pickup_hours.append(ts_data_one_location.iloc[idx[1]]['pickup_hour'])

        # numpy -> pandas
        features_one_location = pd.DataFrame(
            x,
            columns=[f'rides_previous_{i+1}_hour' for i in reversed(range(input_seq_len))]
        )
        features_one_location['pickup_hour'] = pickup_hours
        features_one_location['pickup_location_id'] = location_id

        # numpy -> pandas
        targets_one_location = pd.DataFrame(y, columns=[f'target_rides_next_hour'])

        # concatenate results
        features = pd.concat([features, features_one_location])
        targets = pd.concat([targets, targets_one_location])

    features.reset_index(inplace=True, drop=True)
    targets.reset_index(inplace=True, drop=True)

    return features, targets['target_rides_next_hour']

Lets test that the function works as expected.

In [10]:
# Call the function to transform the data
features, targets = transform_ts_data_into_features_and_target(
    ts_data,
    input_seq_len=24*7*1, # one week of history
    step_size=24, # lets speed this up 
)

print(f'{features.shape=}')
print(f'{targets.shape=}')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 257/257 [00:01<00:00, 177.44it/s]

features.shape=(6168, 170)
targets.shape=(6168,)